.item {
    overflow: hidden;
    padding: 10px;
    border: 1px solid black;
    border-top: none;
}
.thumbnail {
    float: left;
}
.description {
    float: left;
    margin-left: 10px;
}
.description > strong {
    display: block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}