/* 첫 번째 탭 */
input:nth-of-type(1) { display: none; }
input:nth-of-type(1) ~ div:nth-of-type(1) { display: none; }
input:nth-of-type(1):checked ~ div:nth-of-type(1) { display: block; }

/* 두 번째 탭 */
input:nth-of-type(2) { display: none; }
input:nth-of-type(2) ~ div:nth-of-type(2) { display: none; }
input:nth-of-type(2):checked ~ div:nth-of-type(2) { display: block; }

/* 탭 모양 구성 */
section.buttons { overflow: hidden; }
section.buttons > label { 
    /* 수평 정렬 */
    display: block; float: left;

    /* 크기 및 글자 위치 지정*/
    width: 100px; height: 30px;
    line-height: 30px;
    text-align: center;

    /* 테두리 지정 */
    box-sizing: border-box;
    border: 1px solid black;

    /* 색상 지정*/
    background: black;
    color: white;
}
input:nth-of-type(1):checked ~ section.buttons >  label:nth-of-type(1) {
    background: white;
    color: black;
}
input:nth-of-type(2):checked ~ section.buttons >  label:nth-of-type(2) {
    background: white;
    color: black;
}